body {
    background-color: bisque;
}

li {
    text-align: left;
}
h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: beige;
    transform: translateY(-60%);

    
}

a{
    text-decoration: none;
    color: black;
};


